body{
    background-color: black;
    color: white;
}

.rect{
    border-radius: 20px;
    padding: 15px;
    background-color: #353535;
}

.half{
    margin-left: 15px;
    margin-right: 15px;
    height: 0;
    width: 400px;
}

#all{
    display: flex;
    max-width: 890px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#key-etc{
    display: flex;
    margin: 15px;
    padding: 0px;
    background-color: #202020;
    width: 400px;
    justify-self: flex-start;
}

#key{
    width: 100px;
    align-self: stretch;
    flex-shrink: 0.1;
}

#gen-and-copy{
    display: inline-flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: smaller;
    justify-content: space-evenly;
    
}
.buttons {
    margin: 15px;
    font-family: "San Francisco", Helvetica, sans-serif;
    font-size: 18px;
}
.buttons:active{
    opacity: 0.5;
}
.gen{
    color: #34C759;
}
.copy{
    color: #0a84FF;
}

.big{
    margin: 15px;
    width: 400px;
    min-height: 175px;
    height: 75vh;
    word-break: break-all;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
/* @media (max-width: 890px) {
    .big{
        height: 40vh;
    }
} */
.almost{
    flex-grow: 1;
    flex-shrink: 1;
}
input{
    color: white;
    border-width: 0px;
    font-family: "San Francisco", Helvetica, sans-serif;
    font-size: 18px;
}
.right{
    align-self: flex-end;
}
textarea{
    color: white;
    border-width: 0px;
    font-family: "San Francisco", Helvetica, sans-serif;
    font-size: 18px;
}