body{
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: "San Francisco", Helvetica, sans-serif;
}

#all{
    display: flex;
    max-width: 890px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.stdWidth{
    width: 400px;
    margin: 5px;
    flex-grow: 1;
}
@media (min-width: 440px){
    .stdWidth{
        margin: 15px;
    }
}

#key-etc{
    display: flex;
    border-radius: 20px;
    padding: 0px;
    background-color: #202020;
    max-width: 420px;
}
#zero-height{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 0;
}

#key{
    width: 100px;
    align-self: stretch;
    flex-shrink: 0.1;
}

#gen-and-copy{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}
.fillAllFreeSpace{
    flex-grow: 1;
    flex-shrink: 1;
}

.buttons {
    margin: 15px;
}
.buttons:active{
    opacity: 0.5;
}
.gen{
    color: #34C759;
}
.copy{
    color: #0a84FF;
}
.right{
    align-self: flex-end;
}

.rect{
    border-radius: 20px;
    padding: 15px;
    background-color: #353535;
}
.big{
    min-height: 175px;
    height: 75vh;
    word-break: break-all;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

input{
    color: white;
    border-width: 0px;
    font: inherit;
}
textarea{
    color: white;
    border-width: 0px;
    font: inherit;
}