body{
    background-color: black;
    color: white;
}

.rect{
    border-radius: 20px;
    padding: 15px;
    background-color: #353535;
}

#all{
    display: flex;
    flex-direction: column;
    max-width: max-content;
    margin: auto;
}

#key-etc{
    display: flex;
    margin: 15px;
    padding: 0px;
    background-color: #202020;
    align-items: center;
    max-width: max-content;
    justify-content: space-evenly;
}
#key{
    width: 100px;
    align-self: stretch;
    flex-shrink: 0.1;
}

#gen-and-copy{
    display: inline-flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 1;
    font-size: smaller;
}
.buttons {
    margin: 15px;
}

#before-and-after{
    display: flex;
    flex-wrap: wrap;
}

.big{
    margin: 15px;
    width: 400px;
    min-height: 175px;
    height: 75vh;
    word-break: break-all;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.almost{
    flex-grow: 1;
    flex-shrink: 1;
}
input{
    color: white;
    font-size: 20px;
    border-width: 0px;
}
.right{
    align-self: flex-end;
}
textarea{
    color: white;
    font-size: 20px;
    border-width: 0px;
}